<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:enroll_users, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:enroll_users, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:enroll_users, :edit, :id => @enroll_user.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :enroll_user, url(:enroll_users, :update, :id => @enroll_user.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'enroll_users/form', :locals => { :f => f } %>
  <% end %>
</div>
