<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:enroll_cards, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:enroll_cards, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:enroll_cards, :edit, :id => @enroll_card.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :enroll_card, url(:enroll_cards, :update, :id => @enroll_card.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'enroll_cards/form', :locals => { :f => f } %>
  <% end %>
</div>
